.radio-btn {
  display: flex;
  align-items: flex-start;

  &:hover{
    cursor: pointer;
  }

  .svg-container{
    display: block;
    width: auto;
    height: auto;
    margin-right: 7px;
    margin-left: 12px;

    .svg{
      width: 17px;
      height: 17px;
    }
    
    .radio-dot {
      opacity: 0;
      fill: #057EE9;
      stroke: transparent;
    }
  
    .radio-outline{
      fill: transparent;
      stroke: #979797;
      stroke-width: 2px;
    }
  }
        
  input {
    display: none;

    &:checked + .svg-container svg .radio-dot, &:checked + .svg-container svg .radio-outline {
      opacity: 1;
    }        
  }  

  .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    top:2px;
    position: relative;
  
    .button-title{
      font-size: 11.5px;
      font-weight: bold;
      padding-bottom: 3px;
      letter-spacing: 1pt;
    }
    
    p {
      margin: 0px;
      font-size: 11px;
      font-weight: 100;
      color: #979797;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
  }
}

  :host-context(.arctic) .radioOutline{
    stroke: #5a5a5a;
  }